services:
  blog-api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - elasticsearch
    networks:
      - blognet

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g  # Controls memory usage
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - blognet

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  esdata:
  mongodata:
  redis-data:

networks:
  blognet:
    driver: bridge
